<h2><%= @item.title %></h2>
<p><%= @item.description %></p>
<p><small>Posted by <%= @item.user.email %></small></p>

<% if current_user == @item.user %>
  <%= link_to "Edit", edit_item_path(@item), class: "btn btn-outline-primary" %>
  <%= link_to "Delete", item_path(@item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
<% end %>

<%= link_to "Back", items_path, class: "btn btn-link" %>